<a href="https://colab.research.google.com/github/YahiaML/Cassandra-in-python-handbook/blob/main/1_Install_and_Run.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installing Cassandra Steps.


---



### Download and Extract Apache Cassandra
1. Download cassandra (version 3.11.17) from https://cassandra.apache.org/_/download.html


> Note: Any version newer than 3.11.17 will not work on windows, so please make sure to download the mentioned version.

2. Use a tool like 7-Zip to extract the tar.gz file.

3. Extract the contents of the tar file to a directory of your choice (e.g. 'C:\apache-cassandra-3.11.17')

4. Follow the steps mentioned here https://www.youtube.com/watch?v=EEXtVn3zAqc&t=182s @5:34 to add pathes to the Environment Variables


---


### Install and Set Up Java
1. Download Java (version jdk-8u202) from  https://www.oracle.com/eg/java/technologies/javase/javase8-archive-downloads.html

> Note: Any version newer than jdk-8u202 will not be compatible with cassandra.

2. Install it.

3. Follow the steps mentioned here https://www.youtube.com/watch?v=EEXtVn3zAqc&t=182s @2:12 to add pathes to the Environment Variables




---

# Initiate Cassandra
1. Open the bin folder that is found in Cassandra extracted folders (e.g. D:\Apps\apache-cassandra-3.11.17-bin\apache-cassandra-3.11.17\bin)

2. Alt+F ==> Open In Terminal
3. Run this command: cassandra.bat

In [ ]:
#!pip install cassandra-driver
import cassandra

In [ ]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1']) #If you have a locally installed Apache Cassandra instance
    session = cluster.connect()
except Exception as e:
    print(e)

In [ ]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION =
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

try:
    session.set_keyspace('udacity')  # <== Must be in lower case
except Exception as e:
    print(e)

In [ ]:
query = "CREATE TABLE IF NOT EXISTS songs "
query = query + "(year int, song_title text, artist_name text, album_name text, single boolean, PRIMARY KEY (year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [ ]:
query = "INSERT INTO songs (year, song_title, artist_name, album_name, single)"
query = query + " VALUES (%s, %s, %s, %s, %s)"

try:
    session.execute(query, (1970, "Across The Universe", "The Beatles", "Let It Be", False))
except Exception as e:
    print(e)

try:
    session.execute(query, (1965, "Think For Yourself", "The Beatles", "Rubber Soul", False))
except Exception as e:
    print(e)

In [ ]:
query = 'SELECT * FROM songs'
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print (row.year, row.album_name, row.artist_name)

In [ ]:
query = "select * from songs WHERE YEAR=1970 AND artist_name='The Beatles'"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print (row.year, row.album_name, row.artist_name)

In [ ]:
session.shutdown()
cluster.shutdown()